
body{
  font-size: medium;
  color: white;
  font-family: Candara, emoji;
  cursor:pointer;
  margin: 7% 15% 20% 13%;
  position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.kartinka{
  position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.avatar{
  width: 30%;
  height: 30%;
}
a {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  margin: 25px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #ce0606;
}

a:active {
  box-shadow: none;
  top: 5px;
}
