.bordered{
  margin: 15px;
}
.select{
  margin-top: 10px;
  margin-bottom: 10px;
}
table{
  width: auto;
  height: auto;
}
table td,th{
  color:white;
  border-bottom: white;
  border: 1px;
}

table{
  padding-top: 5%;
  width: 100%;
}